*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{font-family: Arial, Helvetica, sans-serif;}

body{
    height: 1200px;
}

/* flex menu*/

.menu_container{
    position: fixed;
    top: 0;
    width:100%;
    box-shadow: black ;
    background-color: rgba(4, 0, 255, 0.2);
    transition: .5s;
    padding: 20px 0;
}

.menu_container:hover{
    background-color: rgba(4, 0, 255, 1);
    transition-duration: .5s;
}

menu{
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.date{
    color: azure;
    margin-right: auto;
    margin-left: 1rem;
}

.github, .linkedin{
    border-radius: 50%;
    width:20px;
    margin-right: 1rem;
}

.github{
    margin-left:auto;
}

menu .links{
    display: flex;
    justify-content: flex-end;
}


/* header */
.header_container{
    background-size: cover;
    background-image: url(https://i.postimg.cc/wB1NtbRj/background.jpg);
    display:flex;
    justify-content: center;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 177, 250);
}

header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* flex photo grid*/

.photo_grid_container{
    display:flex;
    justify-content: center
}

.photo_grid{
    width: 900px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
}

.photo-grid-item{
    border: solid;
    width: 300px;
    height: 300px
}

/* footer */

footer{
    justify-content: space-between;
    display: flex;
}

.footer_item{
    border: solid 1px;
    height: 200px;
    flex:1
}
